
.wrapper {
  margin-top: 5px;
  max-width: 1170px;
  height: 50px;
  padding: 0 15px 0 15px;
  margin: 0 auto;
  margin-top: 5px;
  .card-list {
    width: 100%;
    .Buy {
      margin-top: 20px;
      width: 100%;
      height: 100px;
      .purchase {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 20px;
        height: 100%;
        .redirect {
          height: 40px;
          width: 170px;
          border: none;
          border-radius: 8px;
          font-size: 15px;
          cursor: inherit;
        }
        .redirect :hover {
          box-shadow: 0 0 13px 4px rgba(211, 90, 90,  0.53);
          background: #fc5a5a6b;
        }
        .full_cost {
          font-size: 24px;
          i {
            margin-left: 10px;
          }
        }
        a :hover {
          box-shadow: 0 0 13px 4px rgba(211, 90, 90,  0.53);
          background: #fc5a5a6b;
          color: red;
          transition: .3s ease-in;
        }
      }
    }
    h3 {
      color: red;
        text-align: center;
    }
  }
  
}