$background: #f0f0f0;
$borer: #dcdcdc;
$shadow: rgba(145, 145, 145, 0.38);

.wrapper {
  margin-top: 5px;
  max-width: 1170px;
  height: 50px;
  padding: 0 15px 0 15px;
  margin: 0 auto;
  margin-top: 5px;
  .head {
    height: 100%;
    padding: 0 20px 0 20px;
    background: linear-gradient(to top, #ffffff, $background);
    border: 1px solid $borer;
    border-radius: 4px;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    box-shadow: 0 0 10px $shadow;
    &_shipping {
      position: relative;
      color: transparent;
      .btn {
        height: 100%;
        width: 70px;
        border: none;
        background: transparent;
        box-shadow: 0 0 13px 4px rgba(255, 255, 255, 0.53);
        //transition: background 0.5s ease-out;
        transition: box-shadow 0.5s ease-out;
        cursor: pointer;
        i {
          font-size: 20px;
        }
      }
      .indicator {
        position: absolute;
        top: 5px;
        left: 40px;
        background-color: #ff0304e0;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          display: block;
          color: white;
        }
      }
    }
    
  }
  .head_shipping :hover {
    .btn {
      box-shadow: 0 0 13px 4px rgba(211, 90, 90,  0.53);
      background: #fc5a5a6b;
    }
  }
  .conteiner {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin-top: 20px;
  }
}